$white: #fff;
$black: #333;
$main1: #f3c671;
$main1hover: #f5ba4c;
$main1light: #f8ddaa;
$main2: #e0727d;
$main2light: #ecb7c7;
$disabledMenu: rgba(236, 183, 199, 0.7);
$errorMessage: #d91434;
$blackborder: rgba(51, 51, 51, 0.5);